<h1> Welcome to A Bite out on the Town </h1>

<h3> Where would you like to eat? Enter a city and a state, your party size, and your address and we'll show you what's available! </h3>

<form action="/restaurant_map" method="POST">
    <p>
    <p>Location (enter city and state): </p>
    <p><textarea name="location" rows=1 cols=40></textarea></p>
    <p> Your Current Location (enter full address):</p>
    <p><textarea name="user_location" rows=1 cols=40></textarea></p>
    <p> Party Size: </p>
    <p><textarea name="party_size" rows=1 cols=10></textarea></p>
    <p><input type="submit" value="Submit"/></p>
</form>
