<!doctype html>
<html>

<head>
</head>

<body>
<h1> Here are the top 10 restaurants in this area. Look below to see the are map, a list of the restaurants, and a chart displaying the restaurant's distance from you!</h1>

  {{ map_placeholder1 }}

<p>Enter the number for the restaurant you would like more information about!</p>
<form action="/restaurant_info" method="POST">
    <p>Restaurant Number: </p>
    <p><textarea name="restaurant_id" rows=1 cols=15></textarea></p>
    <p><input type="submit" value="Let's see what's on the menu!"/></p>
</form>
<p> Below are the restaurants around your requested location:</p>
<ol>
{% for x in result_list %}
  <li> {{x}} </li>
{% endfor %}
</ol>
  {{map_placeholder2}}
</body>
